{% extends "layouts/layouts.html" %}

{% block title %}
{{title}}
{% endblock title %}

{% block content %}
<h1>{{title}}</h1>
<p>Mi visión es ser un líder en el desarrollo de soluciones web usando PHP, destacándome por crear aplicaciones escalables y sostenibles que impulsen el avance tecnológico. Busco transformar ideas en plataformas digitales efectivas que conecten a las personas y faciliten el acceso a la información, mientras contribuyo al crecimiento y evolución de la comunidad de desarrolladores mediante la colaboración y el intercambio de conocimientos.</p>
<P>
    ⠀⠀⠀⠀⢠⣤⣀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠈⡷⠛⣵⣶⠆⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣀⣀⡀⢸⡏⣒⢦⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⢀⣹⣵⢿⢿⣿⣟⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⡐⡽⢋⠶⠒⠁⠀⠀⠀⠸⣟⣄⠈⠙⠰⡠⢀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⢨⣽⣿⣿⣾⣿⣿⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢠⠒⣷⠁⠀⠀⠀⠀⠀⡠⣤⠴⠛⣏⢂⠀⠈⠑⠅⡂⢀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠹⠟⢿⡏⢉⣿⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⠇⣰⠁⡐⠶⡀⠀⠀⠀⠀⠬⣻⣮⣾⢠⢣⠐⡀⠀⠀⠣⢌⡂⡄⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⢻⣿⣿⣧⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢠⢏⡜⣇⠂⢰⠀⢻⣕⠢⣤⣄⣦⣱⣿⡟⠀⢨⢣⡈⢆⠀⠀⠄⠈⠑⠀⢳⢤⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠈⢻⣿⣿⣦⠀⠀⠀⠀⠀⠀⠀⠀⢴⢏⡎⠴⣹⣆⣿⣿⣌⣎⡙⠛⠿⠟⣿⣿⠧⣠⡾⢏⡻⣦⣁⠑⢆⠀⠠⠀⠀⡀⠑⠣⢦⣀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⢿⣿⣿⣧⠀⠀⠀⠀⠀⣠⠞⣭⠞⣨⠱⣸⠏⢾⡙⡯⣉⠡⢄⡄⣠⡟⣟⣰⣿⣻⣷⣥⡙⣯⣗⠦⡑⢄⠐⢀⠀⠀⠠⡐⠌⡁⢢⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⡵⠩⢚⣻⣿⣯⠀⢀⡤⠺⢁⣾⢃⡞⡤⣣⠏⠈⠀⢉⠙⠂⢄⣮⡿⠇⠃⢁⡞⠻⣷⣯⣿⣻⢦⡻⢿⣶⢥⣓⣄⠑⣄⢑⠈⢄⠈⠦⡈⠓⠠⡀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠡⡀⠛⣽⣽⣿⣶⠋⢀⣴⡟⣎⠓⡾⣳⠋⠀⣠⣔⡁⢀⣶⠏⢺⣾⣤⢴⠁⡇⠀⠀⢹⣿⣽⣯⢟⣮⡙⢷⣯⡲⢷⡈⢢⡨⢄⠁⡉⢂⠑⢆⠈⡢⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠁⢄⠙⣿⣿⣿⣦⣾⡹⠵⣉⣖⡵⠋⣠⣶⣿⣿⣗⠊⠉⠠⢪⣋⣉⢸⠀⡥⢶⠶⠼⣿⣿⣿⣾⣯⣷⡾⣿⠓⢬⠳⡌⢧⠈⢆⢃⠘⡆⠨⡒⢅⢔⢄⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⢀⣠⠶⠫⢲⣿⣿⣿⣿⣿⢿⡷⣿⣎⣵⣾⢿⣻⣿⠿⣇⠁⡴⢁⠇⠀⢀⡟⢠⢡⠂⠀⠀⠀⠉⠙⠻⣿⣿⣿⣿⠀⠈⠳⡘⡌⡗⡈⢆⠂⠸⡐⣡⢄⠳⡡⡢⠀⠀⠀
⠀⠀⠀⠀⠀⠀⣠⢞⠍⢀⣁⠴⣺⣇⣿⣿⣿⣿⣿⣾⣵⣯⣿⣿⣿⠟⠝⢀⠀⡜⢀⡎⠴⠭⣽⡇⢸⠁⠀⠀⠆⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢹⡰⠱⡹⠘⡄⠀⢣⠀⢣⠡⡙⣄⠱⡀⠀
⠀⠀⠀⠀⣠⡾⢕⢅⡰⣻⢌⡣⢿⣯⣿⣿⣿⣿⣿⡿⠿⠿⠿⠟⢁⠊⣠⢏⡜⠀⣼⠀⠀⠇⣼⠁⡀⠀⠀⢰⢠⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣼⢷⢡⢃⡃⠅⡀⢸⠀⡈⣇⠀⢸⡎⠡⠀
⠀⠀⢀⣾⢏⡾⢣⠟⡼⣱⣮⡕⢻⠿⣻⣿⣿⣿⣿⣿⡀⠀⠀⣠⢃⡜⡍⢠⠁⢸⣇⣒⠮⡷⣥⠀⡇⠀⠀⢸⣇⣆⠀⠀⠀⠀⠀⠀⠀⠀⢀⣴⢿⣻⢄⢣⠂⡥⠀⢸⡆⠐⡻⡄⠆⢻⠌⡃
⠀⢠⡾⢁⢮⡱⠫⡵⣜⣵⡻⢌⠧⣿⢣⣿⠁⢿⣿⣿⣻⡄⡴⣥⠏⣀⠇⣸⡆⠇⡇⠀⠘⢀⡇⢠⡁⠀⠀⠈⣟⢻⣦⣄⡀⠀⠀⢀⣀⣴⡾⣏⡻⣏⢎⢆⠳⢤⠀⣟⡀⡔⡐⣧⠀⠨⣇⠹
⢀⡞⠀⡜⣼⢁⣟⢿⣽⢯⢗⠿⣼⠏⣿⣿⠀⠈⣿⣿⣿⣿⣾⡇⠉⢧⢣⡆⠀⠀⢱⢀⠇⣸⠁⣼⣱⣀⠀⠀⠘⢆⢩⣛⠿⠿⣿⢟⣣⢟⣹⠞⡱⣎⠯⣌⠎⠅⡼⣣⢀⡅⠜⣿⠤⠀⣯⠀
⢸⠁⠀⣧⠄⡼⣾⣻⡽⢃⡞⡠⣝⡏⢾⣿⡀⠀⠸⣿⣿⣿⣿⡟⣶⡠⣼⡇⠀⠀⠘⣆⢴⣛⠭⢷⣠⣶⣾⣄⠀⠀⠑⠼⣌⠹⡁⠞⣔⢫⣞⣽⡻⣭⢷⣎⡮⢾⣱⣧⢞⡶⢹⣼⠂⡀⣷⠀
⠀⠀⠀⢿⠀⣱⣏⣿⢒⡏⣇⡳⢸⣽⡚⣇⢣⠀⠀⡿⣿⢿⣻⣽⣆⣹⢿⠷⢤⡲⠝⠋⠁⠀⢰⣿⠯⣷⣯⣿⣶⠄⡂⠤⣤⣭⣯⠷⣞⣷⣾⢧⢟⡎⠲⢌⡗⣌⡾⣈⢫⣟⣼⣿⢡⢐⣯⠄
⠀⠀⠀⢸⠀⣸⠇⣯⢸⢸⡅⢳⡻⢿⢿⢹⡀⠣⡀⢇⢹⣿⣿⣿⠿⡋⠀⠉⠁⠀⠀⠀⠀⢠⡿⠿⡿⠛⣫⣤⣎⠀⠀⠉⠙⠛⠛⠛⢛⣿⢋⣯⡞⡸⣑⢮⣜⣼⠳⣠⡿⣿⣿⠏⡆⣞⣧⡆
⠠⠀⠀⠘⡇⣼⣯⣇⢻⣘⡎⢍⢷⣜⡻⣶⣳⠀⢀⢸⠛⠻⣚⠈⠛⠼⡄⣀⣬⠶⡬⠀⢡⡿⢧⡤⡯⢍⠀⢹⣿⣇⠀⠀⠀⣀⡤⢾⠟⣃⣯⢏⡴⡕⣫⢾⣟⣯⡿⢿⣳⠏⣿⡾⣼⢫⡟⠀
⠀⢂⠀⠀⢷⢏⡟⣸⣹⢞⣿⣀⡈⢳⡽⢷⡿⠟⠊⠁⠀⠀⢻⣇⡄⣀⣩⣵⠁⡰⠁⠀⢇⢹⣄⠈⠓⣿⣬⣯⣺⠋⠀⠀⠀⡠⠔⣡⣬⠟⣩⣿⢿⣫⣞⡧⠟⠉⣠⡿⠁⣸⡿⡷⢃⡞⠀⠀
⠀⠀⠑⠠⢈⡟⣧⠹⢾⠿⣶⣇⡽⠛⠈⠁⠀⠀⠀⢀⢤⠗⠋⡝⠾⢛⡩⣭⠔⢧⣻⡿⣈⠱⢝⣿⣿⣟⡿⣿⣯⡴⢦⣼⣿⣷⣾⢯⣶⠛⠉⣴⡿⠓⠁⠀⢀⡴⠋⠀⣰⣟⠝⢀⠊⠀⠀⠀
⠀⠀⠀⠀⠀⠘⡸⡄⠙⣬⡓⣮⢷⠲⡤⣤⣀⣀⠀⠘⠛⠲⠤⢿⣮⡝⠨⢀⣤⠄⠑⢼⡿⠇⣀⠑⢿⢿⣞⡿⣿⣗⠂⠒⠈⢁⠔⡱⢁⢦⡿⠃⠀⠀⡀⠔⠉⠀⢀⡼⠛⠁⠀⠁⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠐⠿⡄⠈⢻⣼⣋⣓⡻⡵⣿⠇⠹⢱⣆⠀⠀⢸⡾⢦⣻⢮⣶⣯⠤⠤⠵⠸⣽⠃⠀⠙⢽⢾⣷⣿⡄⠀⢀⠋⢰⠱⣟⡻⠁⠀⠀⠀⠀⠀⡀⠔⠉⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠈⠹⢄⠀⠛⣿⡜⡷⡿⠹⠀⠂⡿⣿⠀⠀⠸⡅⢈⠿⠛⣩⠤⢤⣀⣀⠀⠀⠀⠀⠀⠀⠑⢟⢿⣷⡀⡌⠀⢨⣿⠹⡇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⠑⢄⠘⢎⢺⡃⠁⢀⣾⣻⣽⠀⠀⡀⠳⠃⠀⡰⠁⠀⠀⠀⠀⠉⠉⠐⠒⠠⠤⢄⣀⡙⣽⣿⣅⠀⢸⣿⠀⢡⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⣇⣴⣿⣳⣯⣹⡄⠀⠀⠀⠀⡼⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⠻⣿⡟⠻⣽⣳⣌⡇⠂⠀⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢠⣾⣿⢧⣯⡿⠃⡇⠀⠀⠀⡼⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠉⠻⣿⣷⣻⣼⣿⣦⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢠⣿⢯⣿⣿⢟⠀⠀⠣⠀⠀⡼⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⠻⢿⣷⣻⣿⣷⡄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣾⣻⣼⣿⠟⠈⠀⠀⢰⠀⡰⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⢿⣿⣻⢿⣷⡄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣼⣟⣳⡿⠃⠀⠀⠀⠀⠸⠴⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠙⢿⣯⣟⡿⣆⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢰⣿⣽⠟⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠙⢿⣽⣻⣆⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢠⣿⣿⠏⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠻⣿⣿⣦⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⢠⣿⣿⠃⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⢿⣿⣷⣦⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⢠⣿⣿⠃⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠹⣿⣷⣶⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⢠⣿⣿⡟⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⢿⣿⣷⡄⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⣿⣿⣿⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢿⣿⣿⡄⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⢸⡹⢿⠏⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠤⠀⠀⠄⠀⠀⠀⠀⠀⠄⠀⠀⠀⢸⣿⣿⡷⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠁⠉⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⠉⠉⠁⠀⠀⠀⠀⠀⠀⠀
</p>
{% endblock content %}