{% extends "layouts/layouts.html" %}<!--esta es la version que te dice la ubicacion de donte vamos a mostrarlo-->
{% block title %}
    {{title}}<!--esto es lo que e va a llevar a la pagina de views-->
{% endblock title %}

{% block content %}
    <h1>{{title}}</h1>
    <h2>{{title}}</h2>
    
{% endblock content %}

{% block content %}
<p>
    La Universidad Tecnológica de Durango tiene como misión formar profesionales de excelencia, altamente competentes y comprometidos con el desarrollo sostenible y la innovación tecnológica. A través de programas educativos de calidad y un modelo de educación superior basado en competencias, la UTD busca contribuir al progreso de la región y del país, fomentando en sus estudiantes valores de responsabilidad social, ética profesional y compromiso con la mejora continua. La UTD promueve además la vinculación con los sectores productivo y social, impulsando el crecimiento económico y el bienestar de la comunidad."
</p>
{% endblock content %}
