<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        {% comment "" %}
        aqui va el contenido del bloque title
        {% endcomment %}
        {% endblock title %}
    </title>
</head>
<body>
    <h1>bienvenido a mi app web en Django</h1>
    <h2>DEsarrollo web con python y Django</h2>
    {% block content %}<!--aqui se usa este bloque que es de hemet que me permite reutilizarlo-->
    {% comment "" %}
    aqui va el contenido de mi bloque content
    {% endcomment %}
    {% endblock content %}
</body>
</html>