<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!--
    <h1>bienvenido a mi app web en Django</h1>
    <h2>DEsarrollo web con python y Django</h2>
    <nav>
        <ul>
            <li><a href="{% block 'inicio' %}"></a></li>
            <li><a href="{% block 'inicio' %}"></a></li>
            <li><a href="{% block 'inicio' %}"></a></li>
            <li><a href="{% block 'inicio' %}"></a></li>
        </ul>
    </nav>
    -->
    <h1>!Ups Ocurrio un error!</h1>
    <img class="imagen" src="https://img.desmotivaciones.es/201109/Sinttulo_647.jpg" alt="404">
    <h1>!Error 404!</h1>
    <style>
        h1{
            text-align: center;
            color: rgb(255, 255, 255);
        }
        .imagen{
            padding: 2rem 30rem 2rem 25rem;
        }
        body{
            background-color: black;
        }
    </style>

    <a href="../practicasDjango/proyectoUtdDjango/mainapp/templates/mainapp/index.html"> inicio</a>
</body>
</html>