{% extends "layouts/layouts.html" %}<!--esta es la version que te dice la ubicacion de donte vamos a mostrarlo-->
{% block title %}
    {{title}}
{% endblock title %}

{% block content %}
    <h1>{{title}}</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur repellendus odit iure, veritatis vitae sint deleniti distinctio! Repellendus nobis error quia sunt quaerat fuga suscipit, culpa reiciendis voluptate mollitia enim!
        Velit eos odio alias delectus quas totam labore voluptatibus sapiente, distinctio vitae perspiciatis nisi sit at non deleniti accusamus quidem voluptate! Commodi rem nemo unde placeat perspiciatis. Corporis, error dolore?
        Accusantium, asperiores, sit provident aliquid laudantium atque dicta alias ex, harum rerum incidunt doloremque ut cumque quia cupiditate iure labore sunt dignissimos possimus debitis fuga ad similique est? Delectus, quidem.
        Quibusdam perspiciatis odit minus placeat exercitationem! Perferendis officia doloribus, maxime, qui harum est rem vitae, quam aperiam inventore dolorum quod veniam molestiae exercitationem ipsa culpa nesciunt magni. Porro, necessitatibus et?
        Labore, voluptas! Accusantium, odio quam? In quas sed, fuga explicabo odit porro atque illum voluptates dolores provident distinctio itaque ab odio necessitatibus rerum quos dicta eum exercitationem nulla repudiandae. Quidem!</p>
{% endblock content %}

